<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Your description here">
  <meta name="author" content="Your name here">
  <title>User - Portfolio</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header><img src="" alt="logo">
    <nav>
      <ul>
        <li><a href="#">Projects</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <div class="on-this-page">
      <p>On this page</p>
    </div>
  </header>
  <section>
    <h1>Users Name</h1>
    <img src="" alt="user">
  </section>
  <script src="script.js"></script>
</body>

</html>